<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.linlin.shop.dao.ProductDao">

    <resultMap id="BaseResultMap" type="com.linlin.shop.domain.Product" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="productname" property="productname" jdbcType="VARCHAR" />
        <result column="productprice" property="productprice" jdbcType="VARCHAR" />
        <result column="introduce" property="introduce" jdbcType="VARCHAR" />
        <result column="productpicture" property="productpicture" jdbcType="VARCHAR" />
    </resultMap>

    <select id="list" resultType="com.linlin.shop.domain.Product">
        select * from product
    </select>

    <insert id="addproduct" parameterType="String">
        insert into product values (null,#{productname},#{productprice},#{introduce},#{productpicture})
    </insert>
    <update id="updateproduct" parameterType="String">
        update product set productname=#{productname},productprice=#{productprice},introduce=#{introduce},productpicture=#{productpicture} where id=#{id}
    </update>

    <delete id="deleteproduct" parameterType="Integer" >
        delete from product where id=#{id}
    </delete>

    <select id="findByProductname" resultType="Product" parameterType="String">
        select * from product where productname=#{productname}
    </select>

</mapper>